@font-face {
	font-family: "keepcalm" ;
	src: url("/webfonts/KeepCalm-Medium.ttf") ;
}

.btn-orange {
	color: #fff;
	background-color: #f07d00;
	border-color: #f07d00;
}
.btn-orange:hover {
	color: #fff;
	background-color: #ef5800;
	border-color: #f07d00;
}

footer {
	position: relative;
	text-align: center;
}

body {
	background-image: url("/img/dot-grid.png");
}

#logo-curie {
    width: 150px;
    max-width: 200px;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 0;
    display: block;
    margin: 15px;
}

#title {
	font-family: "keepcalm";
    font-size: 3rem;
	color:#2687ff;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: black 1px 1px 21px -9px;
    border-radius: .25rem;
}